body {
   background-color: rgb(0, 76, 148);
}
.card{
    width: 300px;
    height: 700;
    padding top: 10px;
    padding right: 25px;  
    border: 10px dashed darkblue;
    text-align: center;
    margin: 100px;
    background-color: lightblue;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    font-family: times 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: line-through;
}
p {
    text-decoration: underline;
    font-style: normal;
}
b {
    color: rgb(182, 133, 29);
}